<li class="unselectable audiosource<% if (audiomodel.share) { %> shared_audiosource <% } %>">
  <input type="hidden" value="<%= audiomodel.id %>"/> 
  <p class="description"> 
      <span class="audiosource_title mdesc"> <%= audiomodel.title %> </span> 
      <span class="audiofile_length mlength"> <%= format_length(audiomodel.length) %> </span>
  </p>
  <div class="audiomodel_actions">
    <a class="audiosource_edit" href="<%= audiomodel.form_url %>"><img src="/site_media/img/site_content/admin/pen.png"/></a>
    <a class="audiomodel_delete" href="/audiosources/json/delete-audio-source/<%= audiomodel.id %>"><img src="/site_media/img/site_content/admin/arrow.png"/></a>
  </div>
</li>
