<li class="unselectable ui-widget-content audiomodel-box">
  <input type="hidden" value="<%= audiomodel.id %>"/> 
  <p> <span id="audiofile_title"> <%= audiomodel.title %> </span> - 
      <span id="audiofile_artist"> <%= audiomodel.artist %> </span> 
      <span class="audiofile_length"> <%= format_length(audiomodel.length) %> </span>
  </p>
  <div class="audiofile_actions">
    <a href="<%= audiomodel.form_url %>">Edit</a>
  </div>
</li>
