<li class="unselectable ui-widget-content audiomodel-box">
  <input type="hidden" value="<%= audiomodel.id %>"/> 
  <p> <span class="audiofile_title"> <%= audiomodel.title %> </span> - 
      <span class="audiofile_artist"> <%= audiomodel.artist %> </span> 
      <span class="audiofile_length"> <%= format_length(audiomodel.length) %> </span>
  </p>
  <div class="audiofile_actions">
    <a class="audiofile_play" href="<%= audiomodel.file_url %>">Play</a>
    <a class="audiofile_edit" href="<%= audiomodel.form_url %>">Edit</a>
    <a class="audiomodel_delete" href="/audiosources/json/delete-audio-file/<%= audiomodel.id %>">Delete</a>
  </div>
</li>
