<li class="unselectable audiosource <%= audiomodel.active ? "planning_active" : "" %> ">
  <input type="hidden" value="<%= audiomodel.id %>"/> 
  <p class="description"> 
    <span class="audiosource_title mdesc"> <%= audiomodel.name %> </span> 
  </p>
  <div class="audiomodel_actions ">
    <a class="planning_edit" href="<%= audiomodel.form_url %>"><img src="/site_media/img/site_content/admin/pen.png"/></a>
    <% if (!audiomodel.active) { %> <a class="planning_set_active" href="/audiosources/json/planning-set-active/<%= audiomodel.id %>"><img src="/site_media/img/site_content/admin/note.png"/></a> <% } %>
    <a class="audiomodel_delete" href="/audiosources/json/delete-audio-source/<%= audiomodel.id %>"><img src="/site_media/img/site_content/admin/arrow.png"/></a>
  </div>
</li>
