<li class="unselectable <% if (fresh) { %>fresh_source_element<% } %>">
  <input type="hidden" value="<%= audiofile.id %>"/> 

  <p class="description"> 
    <span class="audiofile_title mdesc"> <%= audiofile.title %> </span> 
    <span class="mdesc"> - </span> 
    <span class="audiofile_artist mdesc"> <%= audiofile.artist %> </span> 
    <span class="audiofile_length mlength"> <%= format_length(audiofile.length) %> </span>
  </p>

  <div class="audiofile_actions">
    <a class="audiofile_play" href="<%= audiofile.file_url %>"><img src="/site_media/img/site_content/admin/play.png"/></a>
    <a class="audiofile_edit" href="<%= audiofile.form_url %>"><img src="/site_media/img/site_content/admin/pen.png"/></a>
    <a class="source_element_delete" href="/audiosources/json/delete-source-element/<%= audiofile.source_element_id %>"><img src="/site_media/img/site_content/admin/arrow.png"/></a>
  </div>
</li>
