<li class="unselectable ui-state-default audiomodel-box">
  <input type="hidden" value="<%= audiofile.id %>"/> 
  <p> <span id="audiofile_title"> <%= audiofile.title %> </span> - 
      <span id="audiofile_artist"> <%= audiofile.artist %> </span> 
      <div class="audiofile_length"> <%= format_length(audiofile.length) %> </div>
  </p>
  <div class="audiofile_actions">
    <a href="<%= audiofile.form_url %>">Edit</a>
  </div>
</li>
